html, body {
  margin: 0;
  height:100%;
  position: relative;
  font-family: Tahoma, Helvetica, Verdana, sans-serif;
}

h1 {
  margin-top: 0px;
  text-transform: uppercase;
}

a:link, a:hover, a:visited {
  color: darkgrey;
  text-decoration: none;
}

#loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid rgb(11, 58, 83);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -76px;
    margin-top: -76px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#image {
  background-size: contain;
  background-position: left top;
  height: 100vh;
  background-repeat: no-repeat;
}

#profile {
  position: absolute;
  right: 5%;
  top: 2.5rem;
  padding: 20px;
  background: white;
  width: 400px;
}

h2 {
  font-size: 1.2em;
  margin: 0 auto;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

.social ul {
  overflow: hidden;
  font-size: 2em;
}

.social li {
  float: left;
  margin-right: 1em;
}
