html, body {
  margin: 0;
  height:100%;
  position: relative;
  font-family: Tahoma, Helvetica, Verdana, sans-serif;
}

h1 {
  margin-top: 0px;
  text-transform: uppercase;
}

a:link, a:hover, a:visited {
  color: darkgrey;
  text-decoration: none;
}

#image {
  background-size: contain;
  background-image: url('https://i.stack.imgur.com/l60Hf.png');
  background-position: left top;
  height: 100vh;
  background-repeat: no-repeat;
}

#profile {
  position: absolute;
  right: 5%;
  top: 5%;
  padding: 20px;
  background: white;
}

#bio {
  width: 300px;
}

#social {
  margin-top: 1em;
  font-size: 2em;
}

.social {
  padding-right: 1em;
}
